<h2>Spanish Hills Country Club</h2>
<address>999 Crestview Ave, Camarillo, CA 93010</address>

<div class="row">
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26390.227897510897!2d-119.092875!3d34.228674!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x976928e02bf7839a!2sSpanish+Hills+Country+Club!5e0!3m2!1sen!2sus!4v1416686709306"
  width="400" height="300" frameborder="0" style="border:0"></iframe>
  </div>
  <div class="col-md-6">
    5:30 PM
  <div>
</div>