<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->

<div>
  <iframe src="//player.vimeo.com/video/104345360" width="700" height="393" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
  <p><a href="http://vimeo.com/104345360">Corina + Jon // Engagement Session in San Diego</a> from <a href="http://vimeo.com/jenniferwhalenweddings">Jennifer Whalen Weddings</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>

<div class="row col-md-12 marketing">
  <div class="col-md-4 text-center">
    <h4>Six Flags Magic Mountain</h4>
    <p>
      We met here
    </p>
  </div>
  
  <div class="col-md-4 text-center">
    <h4>San Diego State University</h4>
    <p>
     We went to school here
    </p>
  </div>
  
  <div class="col-md-4 text-center">
    <h4>Getting Married</h4>
    <p>We are getting married on May 30, 2015</p>
  </div>
</div>
