<div class="row">
  <div class="col-md-12 embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="//player.vimeo.com/video/104345360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
    <p><a href="http://vimeo.com/104345360">Corina + Jon // Engagement Session in San Diego</a> from <a href="http://vimeo.com/jenniferwhalenweddings">Jennifer Whalen Weddings</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </div>
</div>

<div class="row">
  <h1 class="text-center">5 &#183; 30 &#183; 2014</h1>
  <h2 class="text-center"><small>Camarillo, California</small></h2>
</div>

<div class="row col-md-12 marketing">
  <div class="col-md-4 text-center">
    <h3>Jonathan's Story</h3>
    <p class="text-justify">
      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
    </p>
  </div>
  
  <div class="col-md-4 text-center">
    <h3>Corina's Story</h3>
    <p class="text-justify">
      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
    </p>
  </div>
  
  <div class="col-md-4 text-center">
     <h3>Our Story</h3>
    <p class="text-justify">
      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
    </p>
  </div>
</div>
